@model IEnumerable<CourseMan.Models.Instructor>

@{
    ViewData["Title"] = "Index";
}

<h1>All instructor</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (TempData.ContainsKey("Success"))
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"]
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InstructorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InstructorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InstructorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
